@import url("https://use.typekit.net/cbm5vkp.css");
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@700;800&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.333;
  background-color: #18171A;
  color: white;
  position: relative;
  overflow-x: hidden;

    &::before{
      content: "";
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      position: absolute;
      background-repeat: repeat;
      background-image: url("../assets/images/grille-background.png");
      opacity: 0.5;
      z-index: -1;
    }

    &::after{
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      position: fixed;
      background-repeat: repeat;
      background-attachment: fixed;
      background-size: cover;
      background-image: url("../assets/images/fond.png");
      opacity: 0.3;
      z-index: -2;
    }
  }

h1,h2,h3,h4 {
  font-family: "syne", sans-serif;
}

p {
  max-width: 100%;
  margin-left: 16px;
  line-height: 32px;
}

.sections {
  margin-left: 16px;
  margin-right: 16px;
}

.title {
  font-weight: bold;

  &__biggest {
    font-size: 21px;
  }

  &__big {
    font-size: 38px;
    margin: 64px 0 32px 0;
    line-height: 32px;
    text-transform: uppercase;
    text-align: center;

    &__pink {
      color: #FF2F61;
    }
  }

  &__medium {
    max-width: 81%;
    font-size: 28px;
  }

  &__little {
    font-size: 21px;
  }

  &__gems {
    width: 21px;
    margin-right: 4px;
  }
}

.paragraph__big {
  font-size: 21px;

  &__bold {
    position: relative;
    font-size: 21px;
    z-index: 2;
    font-weight: bold;

  }
}
.paragraph__bold {
  font-weight: bold;
}
