@import url("https://use.typekit.net/cbm5vkp.css");
@import url("https://fonts.googleapis.com/css2?family=Syne:wght@700;800&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.333;
  background-color: #18171A;
  color: white;
  position: relative;
  overflow-x: hidden;
}
body::before {
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  background-repeat: repeat;
  background-image: url("../assets/images/grille-background.png");
  opacity: 0.5;
  z-index: -1;
}
body::after {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: cover;
  background-image: url("../assets/images/fond.png");
  opacity: 0.3;
  z-index: -2;
}

h1, h2, h3, h4 {
  font-family: "syne", sans-serif;
}

p {
  max-width: 100%;
  margin-left: 16px;
  line-height: 32px;
}

.sections {
  margin-left: 16px;
  margin-right: 16px;
}

.title {
  font-weight: bold;
}
.title__biggest {
  font-size: 21px;
}
.title__big {
  font-size: 38px;
  margin: 64px 0 32px 0;
  line-height: 32px;
  text-transform: uppercase;
  text-align: center;
}
.title__big__pink {
  color: #FF2F61;
}
.title__medium {
  max-width: 81%;
  font-size: 28px;
}
.title__little {
  font-size: 21px;
}
.title__gems {
  width: 21px;
  margin-right: 4px;
}

.paragraph__big {
  font-size: 21px;
}
.paragraph__big__bold {
  position: relative;
  font-size: 21px;
  z-index: 2;
  font-weight: bold;
}

.paragraph__bold {
  font-weight: bold;
}

@media screen and (min-width: 600px) {
  .header__nav {
    display: block;
    background-color: rebeccapurple;
    width: 100%;
    height: 64px;
    position: fixed;
    top: 0;
    left: 0;
  }
  .header__nav__links {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    padding-top: 16px;
    justify-content: space-evenly;
  }
  .header__nav--burger {
    display: none;
  }
  .header__nav--closeburger {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .header__nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: #18171A;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-100%);
    transition: 0.3s transform ease-in-out;
  }
  .header__nav__links {
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
  }
  .header__nav__links__el a {
    color: white;
    text-decoration: none;
    margin-bottom: 16px;
    font-size: 28px;
    font-weight: 800;
    font-family: "syne", sans-serif;
  }
  .header__nav.open {
    display: block;
    transform: initial;
  }
  .header__nav--burger {
    display: flex;
    flex-direction: row-reverse;
    cursor: pointer;
  }
  .header__nav--burger img {
    padding: 16px;
  }
  .header__nav--closeburger {
    display: block;
    cursor: pointer;
  }
  .header__nav--closeburger img {
    position: absolute;
    top: 16px;
    right: 16px;
  }
  .section--1 {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .logo {
    max-width: 350px;
  }
  .container--scroll {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 50%;
    bottom: 0;
    margin-bottom: 64px;
    transform: translateX(-50%);
    position: absolute;
  }
  .scroll--text {
    position: absolute;
    margin-top: 24px;
  }
  .section--2 .container__center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .section--2 .container__center > *:nth-child(1) {
    height: 295px;
  }
  .section--2 .container__center > *:nth-child(2) {
    margin-top: 32px;
    height: 64px;
    width: 64px;
  }
  .section--2 .container__center > *:nth-child(4) {
    z-index: -1;
    margin-top: 405px;
    position: absolute;
    rotate: 6deg;
    width: 369px;
    height: 32px;
    border: 1px solid #FF2F61;
    border-radius: 50%;
    background-color: transparent;
    font-size: 0;
  }
  .fade--bottom {
    font-size: 0;
    width: calc(100% + 32px);
    margin: 0 -16px;
    height: 32px;
    background: linear-gradient(to bottom, transparent, #FF2F61);
  }
  .background--pink {
    width: calc(100% + 32px);
    margin: -16px;
    margin-bottom: 64px;
    background-color: #FF2F61;
  }
  .background--pink p {
    padding-top: 32px;
  }
  .paragraph__big__circle__black {
    margin: 40px -32px;
    position: absolute;
    font-size: 0;
    border: 1px solid #18171A;
    border-radius: 50%;
    background-color: transparent;
    width: 369px;
    height: 216px;
    rotate: -12deg;
    z-index: 1;
  }
  .paragraph__big__circle__black__2 {
    margin: 40px -32px;
    position: absolute;
    font-size: 0;
    border: 1px solid #18171A;
    border-radius: 50%;
    background-color: transparent;
    width: 369px;
    height: 216px;
    rotate: -3deg;
    z-index: 1;
  }
  .barcode {
    display: flex;
    justify-content: right;
    margin-right: 32px;
    padding-bottom: 64px;
  }
  .container__title__medium {
    align-items: baseline;
    display: flex;
  }
  .decal__text {
    display: flex;
  }
  .paragraph__decal {
    margin-left: 32px;
    max-width: 291px;
  }
  .section--3 {
    position: relative;
  }
  .section--3 .planet__background {
    right: -128px;
    position: absolute;
  }
  svg {
    width: 250px;
    height: 250px;
  }
  svg circle {
    fill: none;
    stroke: #FF2F61;
    stroke-width: 16px;
    transform: translate(5px, 5px);
    stroke-dasharray: 628;
    stroke-dashoffset: 628;
    animation: circle 2s forwards;
  }
  @keyframes circle {
    to {
      stroke-dashoffset: 189;
    }
  }
  .stats__block {
    align-items: center;
    justify-content: space-between;
    display: flex;
    position: relative;
    max-width: 100%;
  }
  .stats__block__pourcents {
    font-family: "Syne", sans-serif;
    font-weight: bold;
    top: 10%;
    left: 45%;
    transform: translateX(-50%);
    position: absolute;
  }
  .stats__block__text {
    font-family: "Syne", sans-serif;
    left: 40%;
    transform: translateX(-40%);
    text-align: center;
    position: absolute;
  }
  .paragraph__big__circle {
    margin: 0px -32px;
    position: absolute;
    font-size: 0;
    border: 1px solid #FF2F61;
    border-radius: 50%;
    background-color: transparent;
    width: 369px;
    height: 216px;
    rotate: -12deg;
    z-index: 1;
    top: 1470px;
  }
  .paragraph__big__circle__2 {
    margin: 0px -32px;
    position: absolute;
    font-size: 0;
    border: 1px solid #FF2F61;
    border-radius: 50%;
    background-color: transparent;
    width: 369px;
    height: 216px;
    rotate: -3deg;
    z-index: 1;
    top: 1470px;
  }
  .section--4 .container__center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .section--4 .container__center > *:nth-child(2) {
    z-index: -1;
    margin-top: -16px;
    position: absolute;
    rotate: 6deg;
    width: 369px;
    height: 32px;
    border: 1px solid #FF2F61;
    border-radius: 50%;
    background-color: transparent;
    font-size: 0;
  }
}/*# sourceMappingURL=app.css.map */