@import 'utils/variables';
@import 'components/type';
@import 'desktop/desktop';

@media screen and (max-width: 600px) {

  .header__nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: #18171A;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-100%);
    transition: 0.3s transform ease-in-out;

    
        &__links {
            flex-direction: column;
            align-items: flex-start;
            list-style: none;

            &__el a {
                color: white;
                text-decoration: none;
                margin-bottom: 16px;
                font-size: 28px;
                font-weight: 800;
                font-family: "syne", sans-serif;
            }
        }
  }

   .header__nav.open {
     display: block;
     transform: initial;
   }
   .header__nav--burger {
     display: flex;
     flex-direction: row-reverse;
     cursor: pointer;
     img {
         padding: 16px;
     }
 }

   .header__nav--closeburger {
     display: block;
     cursor: pointer;
     img {
         position: absolute;
         top: 16px;
         right: 16px;
     }
   }

   .section--1 {
     display: flex;
     flex-direction: column;
     height: 100vh;
     align-items: center;
     justify-content: center;
     position: relative;
 }

    .logo {
        max-width: 350px;
    }

    .container--scroll {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        left: 50%;
        bottom: 0;
        margin-bottom: 64px;
        transform: translateX(-50%);
        position: absolute;
    }

    .scroll--text {
        position: absolute;
        margin-top: 24px;
    }

    .container__center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        > *:nth-child(1) {
            height: 295px;
        }

        > *:nth-child(2) {
            margin-top: 32px;
            height: 64px;
            width: 64px;
        }

        > *:nth-child(4) {
            z-index: -1;
            margin-top: 405px;
            position: absolute;
            rotate: 6deg;
            width: 369px;
            height: 32px;
            border: 1px solid #FF2F61;
            border-radius: 50%;
            background-color: transparent;
            font-size: 0;
        }
    }

    .fade--bottom {
        font-size: 0;
        width: calc(100% + 32px);
        margin: 0 -16px;
        height: 32px;
        background: linear-gradient(to bottom, transparent, #FF2F61);
    }

    .background--pink {
        width: calc(100% + 32px);
        margin: -16px;
        background-color: #FF2F61;

        p {
            padding-top: 32px;
        }
    }

    .paragraph__big__circle {
        margin: 40px -32px;
        position: absolute;
        font-size: 0;
        border: 1px solid #18171A;
        border-radius: 50%;
        background-color: transparent;
        width: 369px;
        height: 216px;
        rotate: -12deg;
        z-index: 1;
        
        &__2 {
            margin: 40px -32px;
            position: absolute;
            font-size: 0;
            border: 1px solid #18171A;
            border-radius: 50%;
            background-color: transparent;
            width: 369px;
            height: 216px;
            rotate: -3deg;
            z-index: 1;
        }
    }

    .barcode {
        display: flex;
        justify-content: right;
        margin-right: 32px;
        padding-bottom: 64px;
    }















































}