
@media screen and (min-width: 601px){

    .header__nav {
        position: static;
        transform: none;
        transition: none;
        padding: 16px;
    }

    .header__nav {
        position: static;
        transform: none;
        transition: none;
        padding: 16px;

        &__links {
            display: flex;
            list-style: none;
            justify-content: space-evenly;

        &__el {
            position: relative;
            color: white;
            text-decoration: none;
            margin-bottom: 16px;
            font-size: 21px;
            font-weight: bold;
            font-family: "syne", sans-serif;

            &:hover {
                .header__nav__circle {
                display: block;
                }
            }

            .header__nav__circle {
                display: none;
                z-index: -1;
                margin-top: -20px;
                left: 40%;
                transform: translateX(-40%) rotate(9deg);
                position: absolute;
                width: 132px;
                height: 16px;
                border: 1px solid #FF2F61;
                border-radius: 50%;
                background-color: transparent;
                font-size: 0;
                content: "";
            }
        }
        }

        &--burger {
            display: none;
        }

        &--closeburger {
            display: none;
        }
    }

    .section--1 {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .logo {
        width: 880px;
    }
}      